footer{
    background-color: #333;
    font-family: "sanfranciscoRegular";
    color: white;
    width: 100%;
    height: 150px;
    bottom: 0;
    left:0;
    position: relative;
    display: block;
    
}
#titoloFooter{
    float:left;
    margin-left: 10px;
}
#indirizzoFooter{
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 20px;
}
#marchio{
    font-size: 35px;
}
footer a{
    color:white;
}
footer a:link,footer a:visited,footer a:hover,footer a:active{
    text-decoration: none;
}