.content{
    padding:10px;
    width: 100%;
    height: 100%;
}
.form-content:after{
    content: "";
    display: table;
    clear: both;
}
.form-content{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.element-container{
    display: flex;
    flex-direction: row;
    border: none;
    width: auto;
}

.element-container label{
    margin: 10px;
    font-size: 20px;
    width: 200px;
}

.form-content input,.form-content textarea,.element-container input[type="text"]{
    width: 80%;
    padding: 12px 20px;
    margin: 0 20px;
    font-size: 20px;
    display: block;
    border: 3px solid #ccc;
    border-color: #bbb;
    box-sizing: border-box;
    margin-bottom: 15px;
}
input[type="radio"]{
    width: 45px;
}
input[type="submit"]{
    background-color: white;
    color: black;
    border: 3px solid rgb(67, 107, 218);
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 80%;
    margin: 30px;
}
input[type="submit"]:hover{
    background-color: rgb(67, 107, 218);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}
.selezionePrezzo{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}
.box-orizzontale{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.displayVerticale{
    display: flex;
    flex-direction: column;
}
input[type="number"]{
    width: 30%;
}
@media screen and (max-width: 700px) {
    .sidebar,.content{
      width: 100%;
    }
  }
  .select-container{
      padding: 15px;
      display: block;
  }
  .select-container select{
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    font-family: "sanFranciscoThin";
    font-size: 20px;
    overflow: hidden;
    border: hidden;
    margin-right: 0;
    margin-left: 30px;
    width: 150px;
    padding: 0;
  }