@font-face{
    font-family: "sanFranciscoThin";
    src: url("/font/sanFranciscoThin.ttf");
}
@font-face{
    font-family: "sanFranciscoRegular";
    src: url("/font/sanFranciscoRegular.ttf");
}
body{
    font-family: "sanFranciscoThin";
}
input{
    width: 50%;
    padding: 12px 20px;
    margin: 0 20px;
    font-size: 20px;
    display: block;
    border: 3px solid #ccc;
    border-color: #bbb;
    box-sizing: border-box;
}
.form{
    display: block;
}
.info-container{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
input[type="submit"],input[type="reset"],#tornaButton{
    background-color: white;
    color: black;
    border: 3px solid rgb(67, 107, 218);
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 25%;
    display: inline-block;
}
input[type="submit"]:disabled{
    background-color: rgb(102, 101, 101);
    color: black;
    border: 3px solid rgb(102, 101, 101);
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 25%;
    display: inline-block;
}
#condizioniUso{
    display:flex;
    align-content: flex-start;
    margin-bottom: 20px;
}
#condizioniUso a{
    text-decoration: none;
    cursor: pointer;
    border:none;
    box-sizing: unset;
}

input[type="submit"]:hover:enabled,input[type="reset"]:hover,#tornaButton:hover{
    background-color: rgb(67, 107, 218);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

button{
    background-color: white;
    color: black;
    border: 3px solid rgb(67, 107, 218);
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    align-content: center;
}

button:hover{
    background-color: rgb(67, 107, 218);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
button:active{
    background-color: rgb(8, 44, 143);

}
.form{
    padding: 16px;
}
.modal {
    display: flex; /* Hidden by default */
    /* position: fixed;  opzione tolta per problemi con form registrazione */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    font-size: 25px;
}
.modal-content {
    background-color: #ddd;
    margin: auto auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 70%; /* Could be more or less, depending on screen size */
    padding-bottom: 10px;
}

#regButton:link, #regButton:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(67, 107, 218);
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    max-height: 30px;
}

#regButton:hover, #regButton:active {
    background-color: rgb(67, 107, 218);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.errore{
    font-size: 20px;
    color:red;
}
