.sidebar {
    height: 100%;
    left: 0;
    background-color: #ccc;
    transition: 0.5s;
    padding-top: 30px;
    width: 250px;
    height: auto;
}
.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(59, 75, 167);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.sidebar a:hover{
    color: rgb(100, 136, 212);
}
@media screen and (max-width: 700px) {
    .sidebar,.sidebar a {
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}
